.home_section{
    width: 100%;
    position: relative;
    top : 60px;
    background-color: #e7e7e7;
    min-height: calc(100vh - 60px);
    border-bottom: 2px solid rgb(199 , 199 , 199);

}

.center_img img {
    display: block;
    width: 80%;
    height: 350px; /* Adjust to your desired height */
    object-fit: cover; /* Keeps the aspect ratio while filling the height */
    margin: 13px auto;
}
